01/geometry-01-handed_in-blx.bib
01/geometry-01-handed_in.aux
01/geometry-01-handed_in.bbl
01/geometry-01-handed_in.blg
01/geometry-01-handed_in.fdb_latexmk
01/geometry-01-handed_in.fls
01/geometry-01-handed_in.log
01/geometry-01-handed_in.out
01/geometry-01-handed_in.pdf
01/geometry-01-handed_in.run.xml
