*.xoj.pdf
??/geometry-??-handed_in-blx.bib
??/geometry-??-handed_in.aux
??/geometry-??-handed_in.bbl
??/geometry-??-handed_in.blg
??/geometry-??-handed_in.fdb_latexmk
??/geometry-??-handed_in.fls
??/geometry-??-handed_in.log
??/geometry-??-handed_in.out
??/geometry-??-handed_in.pdf
??/geometry-??-handed_in.run.xml
points-geometry.pdf
points-geometry.png
points-geometry.svg
